#python gedoens
__pycache__
*.pyc
.idea
jupyter_execute

#snake fun
.snakemake
Snakemake

data/*
/examples/CyclophilinD_data/fep/
/examples/internal_example
/examples/2VT4/extra
/examples/2VT4/fep
/examples/4HW3/mmpbsa

public

# Interanl modules
src/bindflow/utils/my_pdb.py
src/bindflow/_version.py

.pytest_cache
.vscode

*.egg-info
build
dist

.DS_Store

ideas

*.test*
*.dfpkl